* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  counter-reset: line-count;
}

#log-lines {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  max-width: 100%;
}

#log-lines .line {
  font-family: monospace;
  width: 100%;
  display: inline-block;
  border-bottom: 1px dotted #ded697;
  word-wrap: break-word;
}

#log-lines .line .line-info {
  color: blue;
}

#log-lines .line .line-err {
  background-color: #ce0000;
  color: #fff;
}

#log-lines .line:before {
  counter-increment: line-count;
  content: counter(line-count);
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ccc;
}

#log-lines .line:nth-child(odd) {
  background: #ffe;
}

#chk-scroll {
  right: 0;
  position: fixed;
  top: 0;
  margin: 20px;
}
